name: "Lint"

on:
  push:
  pull_request:
  
permissions:
  contents: write

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

        - name: "Set up Python"
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
          with:
            python-version: "3.14.2"

        - name: "Install requirements"
          run: |
            python -m pip install --upgrade pip
            pip install ruff

        - name: "Format"
          run: ruff format .
          
        - name: "Check"
          run: ruff check --output-format=github . --fix
          
        - name: "Auto Commit"
          uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
          with:
            commit_message: 'style fixes by ruff'
